<section class="bg-dark p-5 mt-5">
  <div class="container col-12 text-end">
    <h3 class="text-white footer-heading mb-4">CONNECT</h3>
    <div class="footer">
      <ul class="list-unstyled">
        <li class="my-2">
          <a href="#" class="footer-link">Twitter</a>
        </li>
        <li class="my-2">
          <a href="#" class="footer-link">GitHub</a>
        </li>
        <li class="my-2">
          <a href="#" class="footer-link">LinkedIn</a>
        </li>
        <li class="my-2">
          <a href="#" class="footer-link">YouTube</a>
        </li>
        <li class="my-2">
          <a href="#" class="footer-link">Email</a>
        </li>
      </ul>
    </div>
  </div>
</section>
