
<section>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary ">
      <div class="container">
        
        <a class="navbar-brand text-white" routerLink="/">IRTIZA </a>
        
        <!-- Hamburger Menu Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- Collapsible Menu Links -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto ">
            <li class="nav-item">
              <a class="nav-link  text-white"routerLink="/" >BACKEND DEVELOPER</a>
            </li>
            <li class="nav-item">
                <a class="nav-link     text-white" routerLink="/quantux" >QUANT UX</a>
              </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/talks" href="talks.html">TALKS</a> 
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/about" href="about.html">ABOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/contact" href="contact.html">CONTACT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/login" href="contact.html">LOGIN</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/R" href="contact.html">R FORM</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
   </section>